{{#if user}}
    <p>You are currently logged in as {{user.username}} <a href="/logout">logout?</a></p>
    <a href="/blog">Dashboard</a>
    <form method="post">
        <input type="text" name="title" placeholder="title"></input>
        <input type="text" name="content" placeholder="content"></input>
        <input type="text" name="imageUrl" placeholder="imageUrl"></input>
        <input type="submit" name="submit"></input>
    </form>
{{else}}
    <p>You are currently not logged in. Please <a href="/login">login</a> or <a href="/register">register</a> ...</p>
{{/if}}
