{{#if user}}
    <p>You are currently logged in as {{user.username}} <a href="/logout">logout?</a></p>
{{else}}
    <p>You are currently not logged in. Please <a href="/login">login</a> or <a href="/register">register</a> ...</p>
{{/if}}
<h1>Bloggable</h1>
<h2>Where Ideas Become Real</h2>
<form action="/blog/search">
    <input type="text" name="search" placeholder="search"></input>
    <input type="submit"></input>
</form>
<hr />
<h3>Recent Posts</h3>
<br />
{{#each posts as |post|}}
    <a href="/blog/{{post.author}}/{{post.title}}"><h1>{{post.title}}</h1></a>
    <h4>{{post.author}}, {{post.postDate}}</h4>
    <img src="{{post.imageUrl}}" height=400px />
    <p>{{post.content}}</p>
    <hr />
{{/each}}