{{#if user}}
    <p>You are currently logged in as {{user.username}} <a href="/logout">logout?</a></p>
{{else}}
    <p>You are currently not logged in. Please <a href="/login">login</a> or <a href="/register">register</a> ...</p>
{{/if}}
<a href="/blog">Dashboard</a>
{{#if authorized}}
    <a href="/blog/edit/{{author}}/{{title}}">Edit</a>
{{/if}}
<h1>{{title}}</h1>
<h4>{{author}}, {{postDate}}</h4>
<img src="{{imageUrl}}" height=400px />
<p>{{content}}</p>
